Luke Kanies <luke@puppetlabs.com> <luke@980ebf18-57e1-0310-9a29-db15c13687c0> <luke@madstop.com>
Jeff McCune <jeff@puppetlabs.com> Jeffrey McCune <mccune.jeff@gmail.com> Jeffrey J McCune <jeff@northstarlabs.net> <jeff.mccune@northstarlabs.net>
James Turnbull <james@puppetlabs.com> James Turnbull <james@lovedthanlost.net>
Nick Fagerlund <nick.fagerlund@puppetlabs.com> nfagerlund <nick.fagerlund@gmail.com>
