--protected
--private
--verbose
--markup markdown
--readme README_DEVELOPER.md
--tag status
--transitive-tag status
--tag comment
--hide-tag comment
--tag dsl:"DSL"
--no-transitive-tag api
--template-path yardoc/templates
lib/**/*.rb
