/dev/ad0s1a on / (ufs, local, soft-updates)
/dev/ad0s1d on /ghost (ufs, local, soft-updates)
devfs on /dev (devfs, local, multilabel)
tmpfs on /run (tmpfs, rw, nosuid, nodev, seclabel, mode=755)
