/dev/wd0a on / type ffs (local)
/dev/wd0e on /home type ffs (local, nodev, nosuid)
/dev/wd0d on /usr type ffs (local, nodev)
/dev/wd0g on /ghost type ffs (local, nodev)
